<!DOCTYPE HTML>
<html class="particles_effect" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Data Science Academy Mexico</title>
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114.png">
	<link href="css/uikit.css" rel="stylesheet" media="all">
	<link href="css/styles.css" rel="stylesheet" media="all">
</head>
<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

<!-- Page wrapper -->
<div class="wrapper">

<!-- Header -->
<header class="uk-small-hidden header">
	<nav class="uk-navbar header-nav">
		<div class="uk-container uk-container-center">
			<a class="uk-navbar-brand logo_link">
				<img class="uk-responsive-height logo" src="images/DSAM-whiteLogo.svg" alt="">
			</a>
			<div class="uk-navbar-flip uk-visible-large">
				<ul class="uk-navbar-nav header-nav-list">
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">What is Data Science?</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Bootcamp</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_pricing header_nav_list_item_link" href="#">Courses</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_clients header_nav_list_item_link" href="#">Toolkit</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Facts</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Projects</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Team</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Alumni</a>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
				<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
			</div>
		</div>
	</nav>
</header>

<!-- Text container -->
<section class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
	<div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

		<div class="container_block">
			<h1 class="uk-h1 container_title">Data Science Academy</h1>
			<h2 class="uk-h2 container_subtitle">Mexico</h2>
			<div class="container_description">The first academy in Mexico dedicated to train professionals in <strong>Data Science</strong>, <strong>Analytics</strong>, <strong>Machine Learning</strong>, <strong>Applied Statistics</strong>, <strong>Natural Language Processing</strong>, and <strong>Artificial Intelligence</strong>.</div>
			<!-- BUTTONS -->
			<div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded green_button container_button_message">Apply now</div>
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded container_button_subscribe">Request info</div>
			</div>
		</div>

	</div>
	<div data-ng-click="scrollNav($event)" class="uk-icon-angle-down container_arrow"></div>
</section>

<!-- Elements -->
<section class="elements section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
	<h3 class="uk-h3 uk-margin-bottom animated section_title elements_title">What is Data Science? / What does a Data Scientist do?</h3>
	<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Data Science is the interdisciplinary field that leverages a wide range of analytical tools to solve problems.<br><br>
		A data scientist can make sense of data and is well versed in Applied Statistics, Analytics, Machine Learning, Predictive Modeling, Data Wrangling, Natural Processing Language, and Artificial Intelligence.<br><br>
		<b>Data Scientists from our academy are:</b>
	</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-thumbs-o-up uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Technically skilled</h4>
					<p class="elements_item_desc">Understanding the theoretical background of Data Science is important--almost as important is to understand its limitations</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-line-chart uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Creative problem solvers</h4>
					<p class="elements_item_desc">They think about solutions and their implementations, from the quick wins to more complex iterations</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-bar-chart-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Fantastic team players</h4>
					<p class="elements_item_desc">We firmly believe in a duty to be catalysts of change and bring out the best in others</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-clock-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Great communicators</h4>
					<p class="elements_item_desc">Crystal-clear communciation is the currency of great ideas. Our graduates are able to explain complex problems in simple terms and communicate clearly with others</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Description -->
<section class="description section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">Provide insights and prescribe data-driven decision making</h3>
				<!-- <p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p> -->
			</div>
		</div>
		<!-- <div class="uk-width-large-1-2 description_image" data-image="http://placehold.it/1080x720"></div> -->
		<div class="uk-width-large-1-2 description_image" data-image="https://i.imgur.com/huwKOeF.jpg"></div>
	</div>
</section>

<!-- Description secondary -->
<section class="description description_secondary section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 description_image" data-image="https://i.imgur.com/QLc7Mhh.jpg"></div>
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">Play a key role in any organization</h3>
				<!-- <p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p> -->
			</div>
		</div>
	</div>
</section>

<!-- Features -->
<!-- Offer -->
<section class="features grey_overlay section">
	<div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">Our Bootcamp</h3>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Launch your career as a data scientist in 4-6 weeks</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-html5 features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Technical Skills</h4>
						<p class="uk-text-contrast features_text">You will spend 20+ hours per week using technical skills to solve business cases. This includes programming in R, Python, H2O as well as using Tableau, Azure, and Google's Tensorflow</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-signal features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Business Acumen</h4>
						<p class="uk-text-contrast features_text">Learn to use your business hat and translate insights from data into business solutions</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-picture-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Responsive design</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-trophy features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Product Branding</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-search features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Soft skills</h4>
						<p class="uk-text-contrast features_text">Graduate as a well rounded professional highly capable of collaborate, who knows when to lead and when to follow</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-lightbulb-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Hiring Fair</h4>
						<p class="uk-text-contrast features_text">We will help you land a job where you can put your abilities to good use</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Price -->
<section class="price section">
	<div class="uk-container uk-container-center uk-text-center price_container" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center animated section_title price_title">Our Data Science courses</h3>
		<h4 class="uk-h4 uk-margin-large-bottom uk-text-center animated section_subtitle">Whether you want to learn more about Data Science or you want to start your career, we have a program specific for you</h4>
		<div class="uk-grid">
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Free</h4>
						<p class="price_block_cost">$0</p>
					</div>
					<div class="price_block_text">Free videos</div>
					<div class="price_block_text">Online workshops</div>
					<div class="price_block_text">Monthly Study Groups</div>
					<div class="price_block_text"> </div>
					<div class="price_block_text"> </div>
					<div class="price_block_text">
						<a class="uk-button uk-border-rounded uk-button-large green_button container_button_message" href="#">Apply</a>
						<a class="uk-button uk-border-rounded uk-button-large container_button_subscribe price_block_footer" href="#">More info</a>
					</div>

				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Standard</h4>
						<p class="price_block_cost">$20</p>
					</div>
					<div class="price_block_text">2 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">5GB Disk Space</div>
					<div class="price_block_text">Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom best_price price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">6-week Bootcamp</h4>
						<p class="price_block_cost">$50</p>
					</div>
					<div class="price_block_text">5 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">10GB Disk Space</div>
					<div class="price_block_text">Phone & Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">More info</a>
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Apply</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Weekend Courses</h4>
						<p class="price_block_cost">$TBD</p>
					</div>
					<div class="price_block_text">10 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">25GB Disk Space</div>
					<div class="price_block_text">Phone & Mail Support</div>
					<div class="price_block_text">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">More info</a>
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Apply</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Subscribe -->
<section class="subscribe grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title subscribe_title">Subscribe to <strong>Talk Data To Mex</strong></h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Our weekly newsletter with relevant happenings of Data Science in Mexico<br>Data Science Events<br>Job posts for Data Science, Data Engineering, and more</h4>

		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form animated form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-small-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">E-mail has been added successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>

		<!-- Begin mailerlite Signup Form -->
		<style type="text/css">
		  /* LOADER */
		  		.ml-form-embedSubmitLoad {
		  		  display: inline-block;
		  		  width: 20px;
		  		  height: 20px;
		  		}
		  		.ml-form-embedSubmitLoad:after {
		  		  content: " ";
		  		  display: block;
		  		  width: 11px;
		  		  height: 11px;
		  		  margin: 1px;
		  		  border-radius: 50%;
		  		  border: 4px solid #fff;
		  		  border-color: #ffffff #ffffff #ffffff transparent;
		  		  animation: ml-form-embedSubmitLoad 1.2s linear infinite;
		  		}
		  		@keyframes ml-form-embedSubmitLoad {
		  		  0% {
		  			transform: rotate(0deg);
		  		  }
		  		  100% {
		  			transform: rotate(360deg);
		  		  }
		  		}
		        #mlb2-966028.ml-form-embedContainer {
		          box-sizing: border-box;
		          display: table;
		          height: 100%;
		          margin: 0 auto;
		          position: static;
		          width: 100% !important;
		        }
		        #mlb2-966028.ml-form-embedContainer h4,
		        #mlb2-966028.ml-form-embedContainer p,
		        #mlb2-966028.ml-form-embedContainer span,
		        #mlb2-966028.ml-form-embedContainer button {
		          text-transform: none !important;
		          letter-spacing: normal !important;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper {
		          background-color: #f6f6f6;

		          border-width: 0px;
		          border-color: #e6e6e6;
		          border-radius: 4px;
		          border-style: solid;
		          box-sizing: border-box;
		          display: inline-block !important;
		          margin: 0;
		          padding: 0;
		          position: relative;
		                }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper.embedPopup,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper.embedDefault { width: 400px; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper.embedForm { max-width: 400px; width: 100%; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-align-left { text-align: left; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-align-center { text-align: center; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-align-default { display: table-cell !important; vertical-align: middle !important; text-align: center !important; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-align-right { text-align: right; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedHeader img {
		          border-top-left-radius: 4px;
		          border-top-right-radius: 4px;
		          height: auto;
		          width: 100%;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
		          padding: 20px 20px 0 20px;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal {
		          padding-bottom: 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
		          margin: 0 0 20px 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
		          color: #000000;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		          font-size: 30px;
		          font-weight: 400;
		          margin: 0 0 10px 0;
		          text-align: left;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
		          color: #000000;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		      		font-size: 14px;
		      		font-weight: 400;
		          margin: 0 0 10px 0;
		          text-align: left;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ul,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ol,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ul,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ol {
		          color: #000000;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		      		font-size: 14px;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p a,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p a {
		          color: #000000;
		          text-decoration: underline;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p:last-child,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p:last-child {
		          margin: 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody form {
		          margin: 0;
		          width: 100%;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow {
		          margin: 0 0 20px 0;
		          width: 100%;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
		          margin: 0;
		          padding: 0 0 20px 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow {
		          margin: 0 0 10px 0;
		          width: 100%;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-last-item {
		          margin: 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-formfieldHorizintal {
		          margin: 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
		          background-color: #ffffff;
		          color: #333333;
		          border-color: #cccccc;
		          border-radius: 4px;
		          border-style: solid;
		          border-width: 1px;
		          font-size: 14px;
		          line-height: 20px;
		          padding: 10px 10px;
		          width: 100%;
		          box-sizing: border-box;
		          max-width: 100%;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-webkit-input-placeholder { color: #333333; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-moz-placeholder { color: #333333; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-ms-input-placeholder { color: #333333; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-moz-placeholder { color: #333333; }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow {
		          height: 42px;
		        }
		        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal { width: 70%; float: left; }
		        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal { width: 30%; float: left; }
		        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields { box-sizing: border-box; float: left; padding-right: 10px;  }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
		          background-color: #ffffff;
		          color: #333333;
		          border-color: #cccccc;
		          border-radius: 4px;
		          border-style: solid;
		          border-width: 1px;
		          font-size: 14px;
		          line-height: 20px;
		          padding: 10px 10px;
		          width: 100%;
		          box-sizing: border-box;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
		          background-color: #000000;
		         	border-color: #000000;
		          border-style: solid;
		          border-width: 1px;
		          border-radius: 4px;
		          box-shadow: none;
		          color: #ffffff !important;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		          font-size: 14px !important;
		          font-weight: 700;
		          line-height: 20px;
		          padding: 10px !important;
		          width: 100%;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
		          background-color: #333333;
		          border-color: #333333;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type="checkbox"] {
		          display: inline-block;
		      	  float: left;
		      	  margin: 1px 0 0 0;
		      	  opacity: 1;
		      	  visibility: visible;
		      	  appearance: checkbox !important;
		      	  -moz-appearance: checkbox !important;
		      	  -webkit-appearance: checkbox !important;
		      	  position: relative;
		      	  height: 14px;
		      	  width: 14px;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description {
		          color: #000000;
		          display: block;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		          font-size: 12px;
		          text-align: left;
		          padding-left: 25px;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label {
		          font-weight: normal;
		          margin: 0;
		          padding: 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label a {
		          color: #000000;
		          text-decoration: underline;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p {
		          color: #000000 !important;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
		          font-size: 12px !important;
		          line-height: 18px !important;
		          margin: 0 5px 0 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p:first-letter {
		          color: #000000 !important;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
		          font-size: 12px !important;
		          font-weight: normal !important;
		          line-height: 18px !important;
		          padding: 0 !important;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p:last-child {
		          margin: 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
		          margin: 0 0 20px 0;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
		          background-color: #000000;
		          border: none;
		          border-radius: 4px;
		          box-shadow: none;
		          color: #ffffff !important;
		          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		          font-size: 14px !important;
		          font-weight: 700;
		          line-height: 20px;
		          padding: 10px !important;
		          width: 100%;
		          box-sizing: border-box;
		        }
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button:hover {
		          background-color: #333333;
		        }
		        .ml-subscribe-close {
		          width: 30px;
		          height: 30px;
		          background: url(https://bucket.mlcdn.com/images/default/modal_close.png) no-repeat;
		          background-size: 30px;
		          cursor: pointer;
		          margin-top: -10px;
		          margin-right: -10px;
		          position: absolute;
		          top: 0;
		          right: 0;
		        }
		        .ml-error input {
		          background: url(https://bucket.mlcdn.com/images/default/error-icon.png) 98% center no-repeat #ffffff !important;
		          background-size: 24px 24px !important;
		        }
		        .ml-error .label-description {
		          color: #ff0000 !important;
		        }
		        .ml-error .label-description p {
		          color: #ff0000 !important;
		        }

		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p,
		        #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p:first-letter {
		          color: #ff0000 !important;
		        }
		              @media only screen and (max-width: 400px){
		          .ml-form-embedWrapper.embedDefault, .ml-form-embedWrapper.embedPopup { width: 100%!important; }
		          .ml-form-formContent.horozintalForm { float: left!important; }
		          .ml-form-formContent.horozintalForm .ml-form-horizontalRow { height: auto!important; width: 100%!important; float: left!important; }
		          .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal { width: 100%!important; }
		          .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal > div { padding-right: 0px!important; padding-bottom: 10px; }
		          .ml-form-formContent.horozintalForm .ml-button-horizontal { width: 100%!important; }
		        }
		</style>
		<style type="text/css">
		  #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow {
		        margin-bottom: 20px;
		      }
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox {
		      	margin: 0 0 10px 0;
		      	width: 100%;
		      }
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox.last-group {
		      	margin: 0;
		      }
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow h4 {
		    	  color: ;
		    	  font-family: ;
		    	  font-size: px;
		    	  font-weight: ;
		    	  line-height: px;
		    	  margin: 0 0 10px 0;
		        text-align: left;
		    	}
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox label {
		        font-weight: normal;
		      	margin: 0;
		      	padding: 0;
		      }
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description {
		        color: #000000;
		        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		        font-size: 12px;
		        font-style: normal;
		        font-weight: 700;
		        line-height: 18px;
		        text-align: left;
		        padding-left: 25px;
		      }
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .description {
		        color: #000000;
		        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		      	font-size: 12px;
		      	font-style: italic;
		      	font-weight: 400;
		      	line-height: 18px;
		      	margin: 5px 0 0 0;
		      	text-align: left;
		      }
		      #mlb2-966028.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox input[type="checkbox"] {
		        display: inline-block;
		        float: left;
		        margin: 1px 0 0 0;
		        opacity: 1;
		        visibility: visible;
		        appearance: checkbox !important;
		        -moz-appearance: checkbox !important;
		        -webkit-appearance: checkbox !important;
		        position: relative;
		        height: 14px;
		        width: 14px;
		      }
		</style>
		<div id="mlb2-966028" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-966028">
		  <div class="ml-form-align-center ">
		    <div class="ml-form-embedWrapper embedForm">
		      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
		        <div class="ml-form-embedContent">
		          <h4></h4>
		        </div>
		        <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/x8l1p7" data-code="x8l1p7" method="post" target="_blank">
		          <div class="ml-form-formContent">
		            <div class="ml-form-fieldRow ">
		              <div class="ml-field-group ml-field-name ml-validate-required">
		                <input type="text" class="form-control" data-inputmask="" name="fields[name]" value="" placeholder="Name">
		              </div>
		            </div>
		            <div class="ml-form-fieldRow ">
		              <div class="ml-field-group ml-field-last_name ml-validate-required">
		                <input type="text" class="form-control" data-inputmask="" name="fields[last_name]" value="" placeholder="Last name">
		              </div>
		            </div>
		            <div class="ml-form-fieldRow ">
		              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
		                <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="Email">
		              </div>
		            </div>
		            <div class="ml-form-fieldRow ml-last-item">
		              <div class="ml-field-group ml-field-zip ml-validate-required">
		                <input type="text" class="form-control" data-inputmask="" name="fields[zip]" value="" placeholder="ZIP">
		              </div>
		            </div>
		          </div>
		          <div class="ml-form-interestGroupsRow ml-block-groups">
		            <div class="ml-form-interestGroupsRowCheckbox last-group" style="">
		              <label>



		                        <input type="checkbox" name="groups[]" value="10078526">

		                        <div class="label-description"></div>

		                      </label>
		              <div class="description">* I want to become a Data Scientist</div>
		            </div>
		          </div>
		          <div class="ml-form-checkboxRow ml-validate-required">
		            <label class="checkbox">

		                    <input type="checkbox">

		                    <div class="label-description">

		                      <p>Opt in to receive news and updates.</p>

		                    </div>

		                  </label>
		          </div>
		          <input type="hidden" name="ml-submit" value="1">
		          <div class="ml-form-embedSubmit">
		            <button type="submit" class="primary">Subscribe</button>
		            <button disabled="disabled" style="display: none;" type="button" class="loading btn btn-block">

		                  <div class="ml-form-embedSubmitLoad"><div></div><div></div><div></div><div></div></div>

		                </button>
		          </div>
		        </form>
		      </div>
		      <div class="ml-form-successBody row-success" style="display: none">
		        <div class="ml-form-successContent">
		          <h4>Thank you!</h4>
		          <p>You have successfully joined our subscriber list.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<script>
		  function ml_webform_success_966028() {
		      var $ = ml_jQuery || jQuery;
		      $('.ml-subscribe-form-966028 .row-success').show();
		      $('.ml-subscribe-form-966028 .row-form').hide();
		    }
		</script>
		<img src="https://track.mailerlite.com/webforms/o/966028/x8l1p7?v03ee2804ef2f008535475a5d62f02f94" width="1" height="1" style="max-width: 1px; max-height: 1px; display: block;" border="0">
		<script src="https://static.mailerlite.com/js/w/webforms.min.js?v03ee2804ef2f008535475a5d62f02f94" type="text/javascript"></script>
		<!--End mc_embed_signup-->

	</div>
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="https://instagram.us18.list-manage.com/subscribe/post?u=862cf1e2db354ca7439daabcb&amp;id=9fc63d0c0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL"></label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_862cf1e2db354ca7439daabcb_9fc63d0c0d" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
	</form>
	</div>

	<!--End mc_embed_signup-->
</section>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://instagram.us18.list-manage.com/subscribe/post?u=862cf1e2db354ca7439daabcb&amp;id=9fc63d0c0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL"></label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_862cf1e2db354ca7439daabcb_9fc63d0c0d" tabindex="-1" value=""></div>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</div>
</form>
</div>

<!--End mc_embed_signup-->

<!-- Clients -->
<section class="clients section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title clients_title">What are the most useful tools for Data Science?</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">These are the some of the most relevant technologies and frameworks in Data Science<br>
			During your bootcamp you will use plenty of:</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-bottom animated clients_slider" data-uk-slider>
			<div class="uk-slider-container clients_slider_container">
				<ul class="uk-slider uk-grid-width-medium-1-4 clients_list">
					<!-- <li class="clients_list_item">
						<img class="clients_list_item_image" src="images/R-logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/H2O-logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/Rcl0CwQ.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/OwCZJAV.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/rVZejHO.png" alt="">
					</li> -->
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/python-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/R-logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/R-studio-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/scikitLearn-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/pandas-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/H2O-logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/caffe-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/keras-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/ipython-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/pythonNLTK-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/dialogflow-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/ScikitImage-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/scipy-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/tableau-software-logo-transparent.png" alt="">
					</li>
					<!-- <li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/Weynpa7.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/D0S95YY.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/hJ9mUMa.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/eREWZCM.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://imgur.com/8oKFn4b.png" alt="">
					</li> -->
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-previous uk-border-circle clients_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next uk-border-circle clients_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>

<!-- Clients -->
<section class="clients section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title clients_title">Who is hiring data scientists in Mexico?</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle"><br>Both large international firms and smaller local businesses need data scientists to support their decision making<br>
			<br>Meet some of your potential employers</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-bottom animated clients_slider" data-uk-slider>
			<div class="uk-slider-container clients_slider_container">
				<ul class="uk-slider uk-grid-width-medium-1-4 clients_list">
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/Amazon_Web_Services_Logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/BBVA_Bancomer_logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/nokia-logo.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/posadas-logo-small.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/konfio logo.png" alt="">
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-previous uk-border-circle clients_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next uk-border-circle clients_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>


<!-- Statistic -->
<section class="statistic grey_overlay section" id="statistic">
	<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">Some facts about Data Science in Mexico</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">This is the perfect time to start a career in Data Science</h4>
		<div class="statistic_wrapper">
			<div class="uk-grid uk-grid-large">
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_1">0</span>
						</div>
						<div class="statistic_text">Projects</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_2">0</span>
						</div>
						<div class="statistic_text">Clients</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_3">0</span>
						</div>
						<div class="statistic_text">Hours spent</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_4">0</span>
						</div>
						<div class="statistic_text">Followers</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Gallery -->
<section class="gallery wide_four_item_gallery section" data-uk-scrollspy="{cls:'uk-active'}">
	<h3 class="uk-h3 uk-text-center animated section_title gallery_title">Some of your projects</h3>
	<h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle">During your data science bootcamp you will solve 20+ real-life business cases that include:</h4>
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<!-- <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}"> -->
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="https://i.imgur.com/rTfs3gI.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="https://i.imgur.com/fOyDkYE.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Team -->
<section class="team section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title team_title">Our team</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle"><br>Some of our faculty dedicated to help you bring out the best of you both personally and professionally</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Maria B</h4>
					<div class="uk-margin-bottom team_position">Program Coordinator</div>
					<div class="uk-margin-bottom team_description">Maria coordinates your day to day to make sure that you make the most out of your time and we meet your highest expectations</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Elizabeth J</h4>
					<div class="uk-margin-bottom team_position">Professional Development</div>
					<div class="uk-margin-bottom team_description">Eli will coach you to become a great collaborator and be a great performer in the most demanding professional settings</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-youtube social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-skype social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Eric L</h4>
					<div class="uk-margin-bottom team_position">Technical Coach</div>
					<div class="uk-margin-bottom team_description">Eric will help you acquire very complex technical knowledge, but will also coach you to be an effective communicator that helps organizations make data-driven decisions</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Tony M</h4>
					<div class="uk-margin-bottom team_position">Career Coach</div>
					<div class="uk-margin-bottom team_description">Tony's main goal is to help you get the job opportunities you deserve after coursing one of our programs</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-behance social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-instagram social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Video -->
<section class="video_preview grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title team_title">Video presentation</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">We offer a wide range of business services including data analysis and reporting</h4>
		<a class="uk-border-circle uk-icon-play animated video_button" href="https://www.youtube.com/embed/m_lOQe2y4ug?ecver=2" data-uk-lightbox="{group:'group1'}" data-lightbox-type="iframe"></a>
	</div>
</section>

<!-- Reviews -->
<section class="reviews section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title reviews_title">Our network</h3>
		<!-- <h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We've helped people from all backgrounds to become data science professionals</h4> -->
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle"><br>These are some testimonials from our alumni, current students, hiring partners, and members of our board</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-large-bottom animated reviews_slider" data-uk-slider>
			<div class="uk-slider-container">
				<ul class="uk-slider reviews_list">
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">The bootcamp program at Data Science Academy Mexico is one of the most ambitious programs for data science out there.<br>We look forward to interviewing the first generation of graduates!</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Kenneth Lewis</div>
								<div class="reviews_position">Founder and CEO at MexMax</div>
							</div>
						</div>
					</li>
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Kimberly Davis</div>
								<div class="reviews_position">Marketing manager</div>
							</div>
						</div>
					</li>
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Carl Walker</div>
								<div class="reviews_position">PR Manager</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous uk-border-circle reviews_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next uk-border-circle reviews_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>

<!-- Promo -->
<section class="promo sepia_overlay section">
	<div class="uk-position-relative uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title promo_title">Our 6-week bootcamp is especially designed to help you start a career in Data Science in a very short time</h3>
		<h4 class="uk-h4 uk-text-contrast animated section_subtitle promo_text"></h4>
		<div data-ng-click="scrollTop()" class="uk-button uk-button-large button_custom_green uk-border-rounded uk-margin-top animated promo_button">Apply now</div>
	</div>
</section>

<!-- Contact -->
<section class="contact grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-position-relative uk-text-contrast animated section_title contact_title">Get in touch</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">For more information, please send us a message and someone from our team will contact you shortly</h4>

		<!-- MESSAGE FORM -->
		<form data-ng-submit="contactForm($event);" class="uk-form animated form_send_message" autocomplete="off">
			<div class="uk-grid uk-grid-small uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="name" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="Name">
				</div>
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="E-mail">
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<textarea name="message" class="uk-width-1-1 uk-text-contrast form_textarea" placeholder="Message"></textarea>
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<button class="uk-button button_custom_green uk-width-1-1 form_button" type="submit">Send message</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">Your message has been sent successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>
	</div>
</section>

<!-- Address -->
<section class="address section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title address_title">Contact us</h3>
		<h4 class="uk-h4 animated uk-margin-large-bottom section_subtitle"><br>For more information</h4>
		<div class="uk-grid uk-grid-large address_wrapper">
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-map-marker address_label"></div>
					<h4 class="address_title">Visit us</h4>
					<div class="address_text">7901 W 79th St, <br>Playa Del Rey, CA 90293</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-phone address_label"></div>
					<h4 class="address_title">Call us</h4>
					<div class="address_text">t. 1-234-567-890<br>m. +52-555-555-5555</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-envelope-o address_label"></div>
					<h4 class="address_title">Email us</h4>
					<div class="address_text">datascienceacademy@gmail.com<br>migmal@gmail.com</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Map -->
<div class="map" id="map"></div>

<!-- Footer -->
<footer class="footer">
	<div class="uk-container uk-container-center uk-text-center">
		<ul class="uk-list social_list">
			<li class="social_list_item">
				<a class="uk-icon-facebook social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-twitter social_list_item_link" target="_blank" href="https://twitter.com/DataScienceMX"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
			</li>
			<!-- <li class="social_list_item">
				<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-dribbble social_list_item_link" href="#"></a>
			</li> -->
			<li class="social_list_item">
				<a class="uk-icon-youtube social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-instagram social_list_item_link" target="_blank" href="https://www.instagram.com/datasciencemx/"></a>
			</li>
		</ul>
		<div class="footer_message"> 2018 Startup. All Rights Reserved</div>
	</div>
</footer>

<!-- Scroll arrow -->
<div data-ng-click="scrollTop()" class="scroll_top"></div>

</div>

<!-- Mobile menu -->
<div id="mobile_nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-offcanvas">
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_features" href="#">What is Data Science</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_offer" href="#">Bootcamp</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_pricing" href="#">Courses</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_clients" href="#">Toolkit</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_facts" href="#">Facts</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_projects" href="#">Projects</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_team" href="#">Team</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_customers" href="#">Alumni</a>
			</li>
		</ul>
	</div>
</div>

<!-- Modal subscribe window -->
<div id="modal_subscribe" class="uk-modal subscribe_window">
    <div class="uk-modal-dialog uk-text-center uk-border-rounded">
		<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>
		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
				<div class="uk-width-medium-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-medium-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>
			<div class="response_wrapper">
				<!-- IF MAIL SENT SUCCESSFULLY -->
				<div class="success">E-mail has been added successfully.</div>
				<div class="success_response"></div>

				<!-- IF MAIL SENDING UNSUCCESSFULL -->
				<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
				<div class="error_response"></div>
			</div>
		</form>
        <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
    </div>
</div>



<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/ngTouch.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj7cR7j4zbZLwiKDV35BJ6VSASioV0n_8"></script>
<script type="text/javascript" src="javascripts/uikit.min.js"></script>
<script type="text/javascript" src="javascripts/slideshow.min.js"></script>
<script type="text/javascript" src="javascripts/slideshow-fx.min.js"></script>
<script type="text/javascript" src="javascripts/slider.min.js"></script>
<script type="text/javascript" src="javascripts/lightbox.min.js"></script>
<script type="text/javascript" src="javascripts/countUp.js"></script>
<script type="text/javascript" src="javascripts/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" src="javascripts/particles.min.js"></script>
<script type="text/javascript" src="javascripts/scripts.ang.js"></script>
</body>
</html>
