<!DOCTYPE HTML>
<html class="particles_effect" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Agency</title>
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114.png">
	<link href="css/uikit.css" rel="stylesheet" media="all">
	<link href="css/styles.css" rel="stylesheet" media="all">
</head>
<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

<!-- Page wrapper -->
<div class="wrapper">

<!-- Header -->
<header class="uk-small-hidden header">
	<nav class="uk-navbar header-nav">
		<div class="uk-container uk-container-center">
			<a class="uk-navbar-brand logo_link">
				<img class="uk-responsive-height logo" src="images/DSAM-whiteLogo.svg" alt="">
			</a>
			<div class="uk-navbar-flip uk-visible-large">
				<ul class="uk-navbar-nav header-nav-list">
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">What is Data Science?</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Bootcamp</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_pricing header_nav_list_item_link" href="#">Courses</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_clients header_nav_list_item_link" href="#">Toolkit</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Facts</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Projects</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Team</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Alumni</a>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
				<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
			</div>
		</div>
	</nav>
</header>

<!-- Text container -->
<section class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
	<div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

		<div class="container_block">
			<h1 class="uk-h1 container_title">Data Science Academy</h1>
			<h2 class="uk-h2 container_subtitle">Mexico</h2>
			<div class="container_description">The first academy in Mexico dedicated to train professionals in Data Science, Analytics, Machine Learning, Applied Statistics, Natural Language Processing, and Artificial Intelligence.</div>
			<!-- BUTTONS -->
			<div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded green_button container_button_message">Apply now</div>
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded container_button_subscribe">Request info</div>
			</div>
		</div>

	</div>
	<div data-ng-click="scrollNav($event)" class="uk-icon-angle-down container_arrow"></div>
</section>

<!-- Elements -->
<section class="elements section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
	<h3 class="uk-h3 uk-margin-bottom animated section_title elements_title">What is Data Science?</h3>
	<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Data Science is the interdisciplinary field that leverages a wide range of analytical tools to solve problems.<br>
		A data scientist can can make sense of data and is well versed in Applied Statistics, Analytics, Machine Learning, Predictive Modeling, Data Wrangling, Natural Processing Language, and Artificial Intelligence.</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-thumbs-o-up uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">A great career</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-line-chart uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">A job like no other</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-bar-chart-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">Advanced analytics</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-margin-large-bottom elements_item">
					<div class="uk-icon-clock-o uk-border-circle elements_item_label"></div>
					<h4 class="uk-h4 elements_item_text">24/7 Support</h4>
					<p class="elements_item_desc">Lorem ipsum dolor sit amet, cons ec tetur ducimus orem ipsum do lor sit amet, consectetur ipsum dolor</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Description -->
<section class="description section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">Provide insights and prescribe data-driven decision making</h3>
				<!-- <p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p> -->
			</div>
		</div>
		<!-- <div class="uk-width-large-1-2 description_image" data-image="http://placehold.it/1080x720"></div> -->
		<div class="uk-width-large-1-2 description_image" data-image="https://i.imgur.com/huwKOeF.jpg"></div>
	</div>
</section>

<!-- Description secondary -->
<section class="description description_secondary section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-large-1-2 description_image" data-image="https://i.imgur.com/QLc7Mhh.jpg"></div>
		<div class="uk-width-large-1-2 uk-flex uk-flex-middle">
			<div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
				<h3 class="uk-h3 uk-margin-large-bottom animated description_title">Play a key role in any organization</h3>
				<!-- <p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p> -->
			</div>
		</div>
	</div>
</section>

<!-- Features -->
<!-- Offer -->
<section class="features grey_overlay section">
	<div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">Our Bootcamp</h3>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Launch your career as a data scientist in 4-6 weeks</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-html5 features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Technical Skills</h4>
						<p class="uk-text-contrast features_text">You will spend 20+ hours per week using technical skills to solve business cases. This includes programming in R, Python, H2O as well as using Tableau, Azure, and Google's Tensorflow</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-signal features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Business Acumen</h4>
						<p class="uk-text-contrast features_text">Learn to use your business hat and translate insights from data into business solutions</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-picture-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Responsive design</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-trophy features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Product Branding</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-search features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Soft skills</h4>
						<p class="uk-text-contrast features_text">Graduate as a well rounded professional highly capable of collaborate and lead teams</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-lightbulb-o features_logo"></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Hiring Fair</h4>
						<p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Price -->
<section class="price section">
	<div class="uk-container uk-container-center uk-text-center price_container" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center animated section_title price_title">Our Data Science courses</h3>
		<h4 class="uk-h4 uk-margin-large-bottom uk-text-center animated section_subtitle">Let our professional design team create a beautiful website just for you</h4>
		<div class="uk-grid">
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Basic</h4>
						<p class="price_block_cost">$10</p>
					</div>
					<div class="price_block_text">1 Design Version</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">1GB Disk Space</div>
					<div class="price_block_text">Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Standard</h4>
						<p class="price_block_cost">$20</p>
					</div>
					<div class="price_block_text">2 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">5GB Disk Space</div>
					<div class="price_block_text">Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom best_price price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Premium</h4>
						<p class="price_block_cost">$50</p>
					</div>
					<div class="price_block_text">5 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">10GB Disk Space</div>
					<div class="price_block_text">Phone & Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
				<div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
					<div class="price_header">
						<h4 class="uk-h4 price_block_title">Extra</h4>
						<p class="price_block_cost">$100</p>
					</div>
					<div class="price_block_text">10 Design Versions</div>
					<div class="price_block_text">Free Update</div>
					<div class="price_block_text">3 Subdomains</div>
					<div class="price_block_text">25GB Disk Space</div>
					<div class="price_block_text">Phone & Mail Support</div>
					<div class="price_block_footer">
						<a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Subscribe -->
<section class="subscribe grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title subscribe_title">Subscribe to get the latest news</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Stay up to date with the happenings of Data Science in Mexico and news about our Data Science programs</h4>

		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form animated form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-small-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">E-mail has been added successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>
	</div>
</section>

<!-- Clients -->
<section class="clients section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title clients_title">What are the most useful tools for Data Science?</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">These are the some of the most relevant technologies and frameworks in Data Science<br>
			During your bootcamp you will use plenty of:</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-bottom animated clients_slider" data-uk-slider>
			<div class="uk-slider-container clients_slider_container">
				<ul class="uk-slider uk-grid-width-medium-1-4 clients_list">
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/R-logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/H2O-logo.svg" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/Rcl0CwQ.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/OwCZJAV.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/rVZejHO.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="images/tableau-software-logo-transparent.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/Weynpa7.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/D0S95YY.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/hJ9mUMa.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://i.imgur.com/eREWZCM.png" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="https://imgur.com/8oKFn4b.png" alt="">
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-previous uk-border-circle clients_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next uk-border-circle clients_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>

<!-- Clients -->
<section class="clients section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title clients_title">Who is hiring data scientists in Mexico?</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Both large international firms and smaller local businesses need a data professional like you to support their decision making<br>
			Meet some of your potential employers</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-bottom animated clients_slider" data-uk-slider>
			<div class="uk-slider-container clients_slider_container">
				<ul class="uk-slider uk-grid-width-medium-1-4 clients_list">
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
					<li class="clients_list_item">
						<img class="clients_list_item_image" src="http://placehold.it/220x150" alt="">
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-previous uk-border-circle clients_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next uk-border-circle clients_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>


<!-- Statistic -->
<section class="statistic grey_overlay section" id="statistic">
	<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">Some facts about Data Science in Mexico</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">This is the perfect time to start a career in Data Science</h4>
		<div class="statistic_wrapper">
			<div class="uk-grid uk-grid-large">
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_1">0</span>
						</div>
						<div class="statistic_text">Projects</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_2">0</span>
						</div>
						<div class="statistic_text">Clients</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_3">0</span>
						</div>
						<div class="statistic_text">Hours spent</div>
					</div>
				</div>
				<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
					<div class="uk-margin-large-bottom statistic_block">
						<div class="statistic_caption">
							<span class="statistic_counter" id="statistic_counter_4">0</span>
						</div>
						<div class="statistic_text">Followers</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Gallery -->
<section class="gallery wide_four_item_gallery section" data-uk-scrollspy="{cls:'uk-active'}">
	<h3 class="uk-h3 uk-text-center animated section_title gallery_title">Some of your projects</h3>
	<h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle">During your data science bootcamp you will solve 20+ real-life business cases that include:</h4>
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<!-- <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}"> -->
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="https://i.imgur.com/rTfs3gI.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="https://i.imgur.com/fOyDkYE.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="http://placehold.it/1920x1080" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
								<div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Team -->
<section class="team section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title team_title">Our team</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We have a fantastic team devoted to help you bring out the best of you both personally and academically</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Maria B</h4>
					<div class="uk-margin-bottom team_position">Program Coordinator</div>
					<div class="uk-margin-bottom team_description">Maria coordinates your day to day to make sure that you make the most out of your time and we meet your hihghest expectations</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Elizabeth J</h4>
					<div class="uk-margin-bottom team_position">Professional Development</div>
					<div class="uk-margin-bottom team_description">Eli will coach you to become a great collaborator and be a great performer in the most demanding professional settings</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-youtube social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-skype social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Eric L</h4>
					<div class="uk-margin-bottom team_position">Technical Coach</div>
					<div class="uk-margin-bottom team_description">Eric will help you acquire very complex technical knowledge, but will also coach you to be an effective communicator that helps organizations make data-driven decisions</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-twitter social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="http://placehold.it/230x230" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Tony M</h4>
					<div class="uk-margin-bottom team_position">Career Coach</div>
					<div class="uk-margin-bottom team_description">Tony's main goal is to help you get the job opportunities you deserve after coursing one of our programs</div>
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-facebook social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-behance social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-instagram social_list_item_link" href="#"></a>
						</li>
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Video -->
<section class="video_preview grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title team_title">Video presentation</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">We offer a wide range of business services including data analysis and reporting</h4>
		<a class="uk-border-circle uk-icon-play animated video_button" href="https://www.youtube.com/embed/m_lOQe2y4ug?ecver=2" data-uk-lightbox="{group:'group1'}" data-lightbox-type="iframe"></a>
	</div>
</section>

<!-- Reviews -->
<section class="reviews section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title reviews_title">Our alumni</h3>
		<!-- <h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We've helped people from all backgrounds to become data science professionals</h4> -->
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">These are some testimonials from our alumni, current students, and hiring partners</h4>
		<div class="uk-slidenav-position uk-align-center uk-margin-large-bottom animated reviews_slider" data-uk-slider>
			<div class="uk-slider-container">
				<ul class="uk-slider reviews_list">
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Kenneth Lewis</div>
								<div class="reviews_position">Founder and CEO</div>
							</div>
						</div>
					</li>
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Kimberly Davis</div>
								<div class="reviews_position">Marketing manager</div>
							</div>
						</div>
					</li>
					<li class="reviews_list_item">
						<div class="uk-position-relative reviews_message">Sed ut perspic iatis unde omnis iste natus error sit volup tatem accusa ntium dolore mque eaque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore perpicab.</div>
						<div class="reviews_info">
							<img class="uk-margin-small-bottom reviews_image" src="http://placehold.it/67x67" alt="">
							<div class="reviews_description">
								<div class="reviews_name">Carl Walker</div>
								<div class="reviews_position">PR Manager</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous uk-border-circle reviews_slider_arrow_left" data-uk-slider-item="previous" draggable="false"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next uk-border-circle reviews_slider_arrow_right" data-uk-slider-item="next" draggable="false"></a>
		</div>
	</div>
</section>

<!-- Promo -->
<section class="promo sepia_overlay section">
	<div class="uk-position-relative uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title promo_title">Our program is specially design to help you start a career in Data Science in a very short time</h3>
		<h4 class="uk-h4 uk-text-contrast animated section_subtitle promo_text">Let us help you become a great data scientist</h4>
		<div data-ng-click="scrollTop()" class="uk-button uk-button-large button_custom_green uk-border-rounded uk-margin-top animated promo_button">Apply now</div>
	</div>
</section>

<!-- Contact -->
<section class="contact grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-position-relative uk-text-contrast animated section_title contact_title">Get in touch</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">For more information, please send us a message and someone from our team will contact you shortly</h4>

		<!-- MESSAGE FORM -->
		<form data-ng-submit="contactForm($event);" class="uk-form animated form_send_message" autocomplete="off">
			<div class="uk-grid uk-grid-small uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="name" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="Name">
				</div>
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="E-mail">
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<textarea name="message" class="uk-width-1-1 uk-text-contrast form_textarea" placeholder="Message"></textarea>
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<button class="uk-button button_custom_green uk-width-1-1 form_button" type="submit">Send message</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">Your message has been sent successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>
	</div>
</section>

<!-- Address -->
<section class="address section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title address_title">Contact</h3>
		<h4 class="uk-h4 animated uk-margin-large-bottom section_subtitle">Feel free to contact us for more information</h4>
		<div class="uk-grid uk-grid-large address_wrapper">
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-map-marker address_label"></div>
					<h4 class="address_title">Visit us</h4>
					<div class="address_text">7901 W 79th St, <br>Playa Del Rey, CA 90293</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-phone address_label"></div>
					<h4 class="address_title">Call us</h4>
					<div class="address_text">t. 1-234-567-890<br>m. +52-555-555-5555</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3 animated">
				<div class="uk-margin-large-bottom address_item">
					<div class="uk-icon-envelope-o address_label"></div>
					<h4 class="address_title">Email us</h4>
					<div class="address_text">datascienceacademy@gmail.com<br>migmal@gmail.com</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Map -->
<div class="map" id="map"></div>

<!-- Footer -->
<footer class="footer">
	<div class="uk-container uk-container-center uk-text-center">
		<ul class="uk-list social_list">
			<li class="social_list_item">
				<a class="uk-icon-facebook social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-twitter social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-pinterest social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-dribbble social_list_item_link" href="#"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-youtube social_list_item_link" href="#"></a>
			</li>
		</ul>
		<div class="footer_message">© 2018 Startup. All Rights Reserved</div>
	</div>
</footer>

<!-- Scroll arrow -->
<div data-ng-click="scrollTop()" class="scroll_top"></div>

</div>

<!-- Mobile menu -->
<div id="mobile_nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-offcanvas">
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_features" href="#">What is Data Science</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_offer" href="#">Bootcamp</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_pricing" href="#">Courses</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_clients" href="#">Toolkit</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_facts" href="#">Facts</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_projects" href="#">Projects</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_team" href="#">Team</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_customers" href="#">Alumni</a>
			</li>
		</ul>
	</div>
</div>

<!-- Modal subscribe window -->
<div id="modal_subscribe" class="uk-modal subscribe_window">
    <div class="uk-modal-dialog uk-text-center uk-border-rounded">
		<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>
		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
				<div class="uk-width-medium-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-medium-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>
			<div class="response_wrapper">
				<!-- IF MAIL SENT SUCCESSFULLY -->
				<div class="success">E-mail has been added successfully.</div>
				<div class="success_response"></div>

				<!-- IF MAIL SENDING UNSUCCESSFULL -->
				<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
				<div class="error_response"></div>
			</div>
		</form>
        <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
    </div>
</div>



<script type="text/javascript" src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/ngTouch.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj7cR7j4zbZLwiKDV35BJ6VSASioV0n_8"></script>
<script type="text/javascript" src="javascripts/uikit.min.js"></script>
<script type="text/javascript" src="javascripts/slideshow.min.js"></script>
<script type="text/javascript" src="javascripts/slideshow-fx.min.js"></script>
<script type="text/javascript" src="javascripts/slider.min.js"></script>
<script type="text/javascript" src="javascripts/lightbox.min.js"></script>
<script type="text/javascript" src="javascripts/countUp.js"></script>
<script type="text/javascript" src="javascripts/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" src="javascripts/particles.min.js"></script>
<script type="text/javascript" src="javascripts/scripts.ang.js"></script>
</body>
</html>
